/* LOGIN CSS */

body {
	font-family: sans-serif;
	background-color: #31353d;
	 
   
}

h1{
	font-family: cursive, serif;
	color: rgb(0,162,232);
	font-size: 40px;
	
	
	/*making it compatiable with firefox*/
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;

}

p{
	font-family: cursive, serif;
	color: rgb(0,162,232);
	font-size: 17px;
	
	
	/*making it compatiable with firefox*/
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;

}

#header{
    /*padding: 15px; */
    height: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#login {
	width: 220px;
	height: 155px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -75px;
}

.placeholder {
    color: #444;
}

#login input[type="text"],#login input[type="password"] {
	width: 100%;
	height: 40px;
	positon: relative;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .5);
	padding-left: 20px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
}


#login input[type="submit"] {
	width: 100%;
	height: 50px;
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #80a7a8;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .5);
	background-color: #92CDCF;
	cursor: pointer;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
}

#login input[type="submit"]:hover {
	background-color: #2EA4A8;
}

#login input[type="submit"]:active {
	background-color: #2EA4A8;
}

/*  Main Menu Styles */

#menu {
	/*
	width: 220px;
	height: 155px;	
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -75px;
	*/
}
#menu table {
	padding: 30px, 30px,30px, 30px;
}




#menuForm input[type="submit"] {
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #80a7a8;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .5);
	background-color: #92CDCF;
	cursor: pointer;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
}

#menuForm input[type="submit"]:hover {
	background-color: #2EA4A8;
}

#menuForm input[type="submit"]:active {
	background-color: #2EA4A8;
}
.clearBoth{
    clear: both;
}

#MathWiz{
    border: 10px double;
   color: rgb(0,162,232);
    /*padding: 15px; */
    height: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#FractionWiz{
    border: 10px double;
    color: rgb(0,162,232);
    /*padding: 15px; */
    height: 50px;
    width: 300px;
     margin-left: auto;
    margin-right: auto;
    
}
#SignOut{
    border: 10px double;
    color: rgb(0,162,232);
    /*padding: 15px; */
    height: 50px;
    width: 300px;
     margin-left: auto;
    margin-right: auto;
    
}
#footer{
	width: 255px;
    height: 95px; 
    background: black;
    padding-left: 0; padding-right: 0; margin-left: auto; margin-right: auto; display: block;
}